certifi==2019.9.11
datefinder==0.7.0
defusedxml==0.6.0
Django==2.2.5
django-allauth==0.40.0
django-cors-headers==3.1.1
djangorestframework==3.10.3
nltk==3.4.5
numpy==1.17.2
oauthlib==3.1.0
opencv-contrib-python==4.1.2.30
openpyxl==3.0.0
pandas==0.25.1
python-dateutil==2.8.0
python3-openid==3.1.0
pytz==2019.2
regex==2019.11.1
requests==2.22.0
requests-oauthlib==1.2.0
sqlparse==0.3.0
textblob==0.15.3
urllib3==1.25.3
libgtk==2.0
